# Predição de Estresse no Challenger

Paulo Cysne Rios Jr | Novembro 2017

Predição do *número de problemas de componentes* nos lançamentos da aeronave Challenger.

Em 28 de janeiro de 1986, sete membros da tripulação do navio espacial Challenger dos Estados Unidos foram mortos quando um impulsionador de foguetes falhou, causando uma desintegração catastrófica. No final, os especialistas se concentraram na temperatura de lançamento como uma potencial causa. Os O-rings de borracha responsáveis pela selagem das juntas de foguetes nunca foram testadas abaixo de 40F (4C) e o clima no dia do lançamento era inusitadamente frio.

Um modelo de regressão que demonstre uma ligação entre a temperatura e a falha no O-ring, poderia prever a chance de falha dada a temperatura esperada no momento de lançamento e ter sido muito útil. Tentaremos fazer um neste exercício.

Para construir o modelo de regressão, os cientistas poderiam ter usado os dados sobre a temperatura de lançamento e o número de distúrbios (problemas) de componentes (distress_ct = distress count = contagem de distúrbios) de 23 lançamentos anteriores de lançamentos bem sucedidos.  Embora o foguete pode suportar um ou mais eventos de distúrbios (problemas) de componentes, cada distúrbio adicional aumenta a probabilidade de uma falha catastrófica!

Baseado em dados apresentados em
 - Dalal SR, Fowlkes EB, Hoadley B. Risk analysis of the space shuttle: pre-Challenger prediction of failure. Journal of the American Statistical Association. 1989; 84:945-957

## Exercício

O objetivo é predizer *distress_ct*, o número de problemas/distúrbios de componentes do foguete no lançamento da aeronave Challenger:<p>
- Prediza distress_ct dependendo somente da temperature (regressão linear simples). 
- Prediza distress_ct dependendo de todas as outras variáveis (regressão linear múltipla).
- Use as classes LinearRegression e SGDRegressor para cada caso.
- Calcule o MSE em cada caso usando o módulo metrics de SciKit-Learn.
- Faça uma tabela ao final com os MSE encontradas para comparação dos resultados.
- Os primeiros passos da modelagem estão abaixo.

In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
challenger = pd.read_csv("data/challenger.csv")

In [4]:
challenger.columns

Index(['distress_ct', 'temperature', 'field_check_pressure', 'flight_num'], dtype='object')

In [5]:
challenger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
distress_ct             23 non-null int64
temperature             23 non-null int64
field_check_pressure    23 non-null int64
flight_num              23 non-null int64
dtypes: int64(4)
memory usage: 816.0 bytes

In [6]:
challenger.head()

   distress_ct  temperature  field_check_pressure  flight_num
0            0           66                    50           1
1            1           70                    50           2
2            0           69                    50           3
3            0           68                    50           4
4            0           67                    50           5

In [9]:
challenger["distress_ct"].value_counts()

0    16
1     5
2     2
Name: distress_ct, dtype: int64

In [11]:
from sklearn.linear_model import LinearRegression

In [26]:
X_ln = np.c_[challenger['temperature'].values]

In [16]:
y_ln = challenger['distress_ct'].values
y_ln

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 1], dtype=int64)

In [17]:
lr = LinearRegression()

In [21]:
lr.fit(X_ln, y_ln)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
y_ln_pred = lr.predict(X_ln)
y_ln_pred

array([ 0.56079365,  0.37063492,  0.4181746 ,  0.46571429,  0.51325397,
        0.27555556,  0.22801587,  0.37063492,  0.98865079,  0.7034127 ,
        0.37063492, -0.00968254,  0.51325397,  1.17880952,  0.51325397,
        0.13293651,  0.37063492, -0.15230159,  0.08539683, -0.05722222,
        0.13293651,  0.08539683,  0.94111111])

In [28]:
from sklearn.metrics import mean_squared_error, r2_score

In [31]:
mse_ln = mean_squared_error(y_ln, y_ln_pred)
mse_ln

0.30443754313319527

In [47]:
X_mult = np.c_[challenger.drop(challenger.columns[0], axis=1)]

In [48]:
lr_mult = LinearRegression()

In [49]:
y_mult = y_ln
lr_mult.fit(X_mult, y_mult)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [50]:
y_mult_pred = lr_mult.predict(X_mult)

In [51]:
mse_mult = mean_squared_error(y_mult, y_mult_pred)
mse_mult

0.26373995228425945

In [54]:
t_mse = pd.DataFrame({'Type': ['Simple', 'Multiple'],
                     'MSE': [mse_ln, mse_mult]})
t_mse.set_index('Type')

               MSE
Type
Simple    0.304438
Multiple  0.263740