# Predição de Despesas Médicas <br/>do Seguro de Saúde

Paulo Cysne Rios Jr. | Novembro 2017

## Exercício

Este conjunto de dados *insurance.csv* representa despesas médicas de indivíduos nos EUA.<br/>
O valor objetivo é as despesas (expenses).  <br/>
Predizer despesas médicas é de fundamental importância para uma empresa de seguros de saúde. É tambem de interesse de cada pessoa.

- Encontre as despesas por região
- Usando regressão linear múltipla, vom a classe LinearRegression, prediza as despesas <br/>
e veja como se saiu usando MSE. 
- Melhore sua modelagem: use um indicador para BMI acima ou igual a 30<br/>
e veja como se saiu usando MSE. 
- Melhore sua modelagem: use regressão polinomial e veja como se saiu usando MSE. 
- Usando a classe SGDRegressor (de Descida de Gradiente Estocástico), <br/>
prediza as despesas (expenses) para os casos acima e veja como se saiu usando MSE. 
- Faça uma tabela com todas as MSE e encontre a melhor.
- Lembre-se de calcular o MSE usando a package metrics de SciKit-Learn.
- Os primeiros passos da modelagem estão abaixo.

In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
insurance = pd.read_csv("data/insurance.csv")

In [4]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')

In [5]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
expenses    1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [6]:
insurance.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86